################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCIT318Assignment1/GradeCalculator/Program.cs
/DCIT318Assignment1/.vs/DCIT318Assignment1
